body{
    position: relative;
}

.sticky {
    position: sticky;
    height: 70px;
}

.header {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1558281079-3419472a1267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80') no-repeat;
    background-size: cover;
    color: #fff;
}

.menu {
    /* padding-top: 10px; */
    height: 70px;

}

.logo {
    color: #fff;
    background: #212121;
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;
    font-weight: 800;
}

.nav-link {
    color: #fff;
}

.top {
    height: 100%;
    /* border: 1px solid red; */
    margin: 140px auto;
}

/* Apropos */

.presentation {
    /* border: 1px dashed black; */
}

.apropos {
    /* border: 1px solid blue; */
    max-width: 50%;
}

.proposCont {
    /* border: 1px solid gainsboro; */
}



.progress-container {
    /* border: 1px solid red; */
    max-height: 700px;
    width: 50%;
}

/* Portfolio */

.image {
    margin-right: 5px;
}

.image:hover {
    filter: blur(3px)
}


/* Contact */

.detail, .formulaire {
    width: 50%;
    height: 400px;
} 
.label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.label > label {
    width: 20%;
}


